@using MudBlazor
@inherits LayoutComponentBase
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <MudButtonGroup Variant="Variant.Text">
                <MudButton>Diego Camilo Granados Torres</MudButton>
                <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown">
                    <MudMenuItem Href="/logout">Logout</MudMenuItem>
                </MudMenu>
            </MudButtonGroup>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
