@page "/"
@using uPLibrary.Networking.M2Mqtt
@using uPLibrary.Networking.M2Mqtt.Messages

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<h1>@data</h1>


@code {
    public string data = "Toy solo";

    string broker = "broker.emqx.io";
    int port = 1883;
    string topic = "incubusget/temperatura_1";
    string clientId = Guid.NewGuid().ToString();
    // If the broker requires authentication, set the username and password
    string username = "emqx";
    string password = "public";

    protected override void OnInitialized()
    {
        MqttClient client = ConnectMQTT(broker, port, clientId, username, password);
        Subscribe(client, topic);
        base.OnInitialized();
    }

    MqttClient ConnectMQTT(string broker, int port, string clientId, string username, string password)
    {
        MqttClient client = new MqttClient(broker, port, false, MqttSslProtocols.None, null, null);
        client.Connect(clientId, username, password);
        return client;

    }

    void Subscribe(MqttClient client, string topic)
    {
        client.MqttMsgPublishReceived += client_MqttMsgPublishReceived;
        client.Subscribe(new string[] { topic }, new byte[] { MqttMsgBase.QOS_LEVEL_AT_MOST_ONCE });
    }
    void client_MqttMsgPublishReceived(object sender, MqttMsgPublishEventArgs e)
    {
        data = System.Text.Encoding.Default.GetString(e.Message);
    }
}